{% extends "base.html" %}
{% block title %}Listado programas{% endblock %}
{% block content %}

<div class="container-fluid  text-center">
    <div class="row">    
        <div class="col-sm-4  text-left">
            <h3>Listado de programas</h3>
            {% for item in programas%}
            <a href="{{ url_for('query_programas', id=item.idPrograma) }}">
                <h4 class="text-left">{{ item.nombre }}</h4>
            </a>
            <div class="row">
                <div class="col-sm-4"> <p class="text-left">Fecha de creación: {{ item.fechaCreacion }}</p> </div>
                <div class="col-sm-4"> <p class="text-left">Fecha de recibido: {{ item.fechaRecibido }}</p> </div>
                <div class="col-sm-4"> <p class="text-left">Estado: {{ item.estado }}</p> </div>
            </div>
            
            {% endfor %}
        </div>
        <div class="col-sm-8"> 
        {% if vista == {} %}
        <div class="align-middle">
            <p>Seleccione el programa que desee visualizar</p>
        </div>
        {% else %}
            <div class="container-fluid vertical-center">
                <h3>Nombre del programa: {{ vista['programa'].nombre }}</h3>
                <h5>Identificador de programa: {{ vista['programa'].idPrograma }}</h5>
                <h4>Autor: {{ vista['usuario'].nombre }}</h4>
                <a class="btn btn-primary" href="{{ url_for('ejecutar', id=vista['programa'].idPrograma) }}" role="button">Ejecutar Programa</a>
                <p class="text-justify" > Fecha de creación: {{ vista['programa'].fechaCreacion }} </p>
                <p class="text-justify" > Fecha de recibido en el servidor: {{ vista['programa'].fechaRecibido }} </p>
                <p class="text-justify" > Estado del programa: {{ vista['programa'].estado }} </p>
                <p class="text-justify" > Fecha de ejecución: {{ vista['programa'].fechaEjecucion }} </p>
            </div>
        {% endif %}
        </div>

    </div>
</div>
{% endblock content %}